.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.profile {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    background-color: lightgrey;
    width: 1000px;
    height: 1000px;

}

.column {
    float: left;
    width: 50%;
    alignment: left;
    margin: auto;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.circular {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}