.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #7dc6d6;
    position: sticky;
    top: 0;
    z-index: 100;
}

.link {
    text-decoration: none;
}

.header > Link {
    text-decoration: none;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;
    color: white
}

.navbar__options {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: right;
    alignment: right;
}


