.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #7dc6d6;
    position: sticky;
    top: 0;
    z-index: 100;
}

.link {
    text-decoration: none;
}

.header > Link {
    text-decoration: none;
}


.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;
    color: white
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-right: 10px;
    margin-left: 10px;

}