html {
    scroll-behavior: smooth;
}

body {
    color: #40514E;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    /*font-size: 90px;*/
    /*font-size: (5.62.5em);*/
    /*recommended "rem"*/
    font-size: 5.62rem;
    margin: 50px auto 100px auto;
    font-family: 'Sacramento', cursive;
    color: #11999E
}
p {
    line-height: 2;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #11999E
}